<ion-view view-title="Chemist History">
    <ion-content>
        <div class="list">
            <a class="row" style="padding:10px" href="#/app/chemistrecord">
                <div class="item item-divider item-text-wrap">
                    <b>chemist.name</b>
                    <div class="item-note">
                        22-08-2015
                    </div>
                </div>
                <div class="item">
                    chemist.drugs
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>