<ion-view view-title="chemist.name">
	<!--
    <ion-content>
        <div class="list list-inset">
            <div class="item item-divider">Purchase details</div>
            <div class="item">
                <div class="item-note">
                    chemist.id
                </div>
                <h2>ID :</h2>
            </div>
            <div class="item">
                <div class="item-note">
                    chemist.date
                </div>
                <h2>Date :</h2>
            </div>
            <div class="item">
                <div class="item-note">
                    chemist.time
                </div>
                <h2>Time :</h2>
            </div>
            <div class="item item-divider">Prescription :</div>
            <a class="item item-image full-image">
                <img class="full-image" title="chemist.imgurl" src="img/prescription.jpg">
            </a>
            
            <ul class="list">

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="isChecked1">
                    </label>
                    Drug 1
                    <div class="item-note">Q1 Rs.1</div>
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="isChecked2">
                    </label>
                    Drug 2
                    <div class="item-note">Rs.2</div>
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="isChecked3">
                    </label>
                    Drug 3
                    <div class="item-note">Rs.3</div>
                </li>
            </ul>

            <div class="item item-divider">Chemist details</div>
            <div class="item">
                <div class="item-note item-text-wrap">
                    chemist.location
                </div>
                <h2>Location:</h2>
            </div>
            <div class="item">
                <div class="item-note">
                    chemist.contact
                </div>
                <h2>Contact:</h2>
            </div>
        </div>

    </ion-content>
-->

	<ion-content>
		<div class="card">
			<div class="item">
				<h2 class="text-capitalize">Purchase Detail</h2>
				<ul class="list">
					<li class="item">ID<span class="item-note">Chemist Id</span></li>
					<li class="item">Date<span class="item-note">Chemist Date</span></li>
					<li class="item">Time<span class="item-note">Chemist Time</span></li>
				</ul>
			</div>
		</div>
		<div class="card">
			<div class="item full-image item-image">
				<img class="full-image" title="chemist.imgurl" src="img/prescription.jpg">
			</div>
		</div>
		<div class="card">
			<div class="item">
				<h2>Chemist Details</h2>
				<ul class="list">
					<li class="item">Location<span class="item-note">Chemist Location</span></li>
					<li class="item">Contact<span class="item-note">Chemist Contact</span></li>
				</ul>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar bar-positive">
		<a class="button-icon title" href="" ng-click="viewImage()">
			<i class="icon ion-ios-cart-outline"></i>
		</a>
	</ion-footer-bar>
</ion-view>