<ion-view view-title="Chemist History" class="background-pagecolor">
    <ion-content>
        <div class="list">
            <div class="card">
                <a class="item history-item" href="#/app/chemisrecord">
                    <div class="col-left">
                        <h1>Lab.name</h1>
                        <div class="item-text-wrap">
                            <span class="    badge-assertive">0</span>
                            <span class="    badge-assertive">0</span>
                            <span class="    badge-assertive">0</span>

                        </div>
                    </div>
                    <div class="col-right">
                        <h2>1-1-1970</h2>

                    </div>
                    <h5>Rs. XXXX</h5>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>