<ion-view view-title="{{searchType}}s" class="background-pagecolor">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon ion-ios-search" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-positive item-input-inset" ng-show="searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="search.everything">
		</label>
		<button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
		</button>
	</div>
	<ion-content ng-class="{'has-header':!searchbar,'has-subheader':searchbar}">

		<div class="list">
			<div class="select" ng-repeat="doctor in doctordata">
				<div class="row">
					<div class="col-90">
						<a href="#/app/profile">
							<div class="item item-avatar">
								<img src="img/doc.jpg" alt="Select Doctor">
								<h2 class="head-item head-color">{{doctor.name}}</h2>
								<p class="cont-item">{{doctor.address}}</p>
								<p class="cont-item">Exp: {{doctor.exp}} Yrs</p>
								<p class="cont-item">Price: {{doctor.averagefee}}</p>
							</div>
						</a>
					</div>
					<div class="col-10">
						<a ng-href="tel:{{doctor.number}}" class="icon-call"><i class="icon ion-ios-telephone-outline"></i>
							</a>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>