<ion-view view-title="{{searchType}}s">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon ion-ios-search" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
        <button class="button button-icon ion-ios-calendar-outline"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader bar-balanced item-input-inset" ng-show="searchbar">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="search.everything">
        </label>
        <button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
        </button>
    </div>
    <ion-content ng-class="{'has-header':!searchbar,'has-subheader':searchbar}">
        <ion-list>
            <ion-item class="item item-assertive" ng-show="swipe">Swipe Left to call
                <ion-option-button class="button button-balanced icon ion-android-call"></ion-option-button>
            </ion-item>
            <ion-item collection-repeat="doctor in doctordata" href="#/app/profile">
                <!--                    <img src="/img/obamahealthcare21.jpg" alt="">-->
                <div class="item-avatar">
                    <img src="" alt="">
                    <h2>{{doctor.name}}</h2>
                    <p>{{doctor.address}}</p>
                    <div class="row">
                        <div class="col">
                            Like
                        </div>
                        <div class="col">
                            Comment
                        </div>
                        <div class="col">
                            Share
                        </div>
                    </div>
                </div>

                <ion-option-button class="button button-balanced icon ion-ios-telephone-outline"></ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>