<ion-view view-title="Home" class="background-pagecolor">

    <ion-content class="has-header">
        <!--
        <ion-list>
            <ion-item class="card">HEy</ion-item>
        </ion-list>
-->
        <div class="full-image">
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide><img src="img/clinic/clinic1.JPG" class="full-image" alt="">
                 </ion-slide>
                <ion-slide><img src="img/clinic/clinic2.jpg" class="full-image" alt=""></ion-slide>
                <ion-slide><img src="img/clinic/clinic3.jpg" class="full-image" alt=""></ion-slide>
            </ion-slide-box>
        </div>

        <div class="card" >
            <a class="item item-avatar" href="#/app/doctorspecialities"
>
                <img src="img/doctors_cropped.png">
                <h2>Doctors</h2>
               <i class="icon ln-chevron-right"></i>
            </a>
        </div>
        <div class="card" >
           <a class="item item-avatar" href="#/app/labtesttype">
                <img src="img/laboratories_cropped.png">
                <h2>Laboratories</h2>
               <i class="icon ln-chevron-right"></i>
            </a>
        </div>
        <div class="card" >
            <a class="item item-avatar" href="#/app/selectarea">
                <img src="img/chemist.jpg">
                <h2>Chemists</h2>
               <i class="icon ln-chevron-right"></i>
            </a>
        </div>

    </ion-content>
</ion-view>