<ion-view view-title="Home">
    <div class="bar bar-subheader bar-balanced item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="search.everything">
        </label>
        <button class="button button-icon button-clear ion-ios-close-empty">
        </button>
    </div>
    <ion-content class="has-subheader">
        <!--
        <ion-list>
            <ion-item class="card">HEy</ion-item>
        </ion-list>
-->
        <ion-list>

            <a class="item item-avatar-right" href="#/app/doctor/specialities">
                <img src="img/doctors_cropped.png">
                <h2>Doctors</h2>

            </a>

            <a class="item item-avatar-right" href="#">
                <img src="img/laboratories_cropped.png">
                <h2>Laboratories</h2>

            </a>
            <a class="item item-avatar-right" href="#">
                <img src="img/chemist.jpg">
                <h2>Chemists</h2>

            </a>
        </ion-list>
    </ion-content>
</ion-view>