<ion-view view-title="Lab Test Types" class="background-pagecolor">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon ion-ios-search" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-positive item-input-inset" ng-show="searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" ng-model="search" placeholder="Search">
		</label>
		<button ng-click="toggleSearchbar()" class="button button-icon button-clear ion-ios-close-empty">
		</button>
	</div>
	<ion-content ng-class="{'has-header':!searchbar,'has-subheader':searchbar}">
<!--
		<div class="card" ng-repeat="test in tests | filter:search">
			<a class="item item-avatar" href="#/app/doctorselect/{{test.type}}">
				<img src="{{test.imgurl}}">
				<h2>{{test.type}}</h2>
				<p>{{test.job}}</p>
			</a>
		</div>
-->

		<div class="list">
			<a class="item item-avatar" href="#/app/laboratoryselect/{{test.name}}" ng-repeat="test in lab">
				<img src="{{test.img}}" alt="clinic">
				<h2 class="head-item">{{test.name}}</h2>
				<p class="cont-item">{{test.locate}}</p>
			</a>
		</div>

	</ion-content>
</ion-view>