<ion-view view-title="Profile" hide-nav-bar="false">
	<ion-content class="background-pagecolor">
		<div class="profile">
			<div class="back">
				<div class="backcolor"></div>
				<div class="name">
					<h4 class="head-name">Life Care Diagnostics</h4>
					<p>Charni Road, Mumbai</p>
				</div>
				<div class="main-bar">
					<div class="row tabs-call text-center">
						<div class="col-33">
							<p>Call</p>
							<i class="icon ion-ios-telephone-outline"></i>
						</div>
						<div class="col-33"></div>
						<div class="col-33"></div>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="card">
					<div class="item item-text-wrap">
						<i class="icon-size ion-location"></i>
						<span class="head-item">Address</span>
						<p class="cont-item">#102, Nidhivan Chs, Upper Govind Nagar, Landmark: Opposite Axis Bank, Mumbai</p>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<i class="icon-size ion-android-time"></i>
						<span class="head-item">Timing</span>
						<p>Mon - Sat</p>
						<p class="cont-item">8:00 am - 8:00 pm</p>
					</div>
				</div>
				<div class="card">
					<div class="item item-text-wrap">
						<i class="icon-size ion-images"></i>
						<span class="head-item">Photos</span>
						<ion-slide-box on-slide-changed="slideHasChanged($index)">
							<ion-slide><img src="img/lab1.jpg" class="full-image" alt=""></ion-slide>
							<ion-slide><img src="img/lab2.jpg" class="full-image" alt=""></ion-slide>
							<ion-slide><img src="img/clinic/clinic3.jpg" class="full-image" alt=""></ion-slide>
						</ion-slide-box>
					</div>
				</div>
				<div class="card">
					<div class="item">
						<span>Test</span>
						<span class="item-note">Price</span>
					</div>
					<div class="item">
						<span>CBC, ESR with MP</span>
						<span class="item-note">450</span>
					</div>
					<div class="item">
						<span>ABG (Arterial Blood Gas)</span>
						<span class="item-note">500</span>
					</div>
					<div class="item">
						<span>ACE (Angiotensin Converting Enzyme)</span>
						<span class="item-note">700</span>
					</div>
					<div class="item">
						<span>ACTH (Adreno Corticotropic Hormone)</span>
						<span class="item-note">2000</span>
					</div>
				</div>
			</div>
		</div>
		</div>
	</ion-content>
</ion-view>