<ion-view view-title="{{searchType}}" class="background-pagecolor">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon ion-ios-search" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-balanced item-input-inset" ng-show="searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search..">
		</label>
		<button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
		</button>
	</div>
	<ion-content ng-class="{'has-header':!searchbar,'has-subheader':searchbar}">
		<div class="list">
			<div class="select" ng-repeat="testlab in labselect">
				<div class="row">
					<div class="col-90">
						<a href="#app/laboratoryprofile">
							<div class="item item-avatar">
								<img ng-src="{{testlab.labimg}}" alt="Testes">
								<h2 class="head-item">{{testlab.labname}}</h2>
								<p class="cont-item">{{testlab.labadd}}</p>
							</div>
						</a>
					</div>
					<div class="col-10">
						<a ng-href="tel:{{testlab.number}}" class="icon-call"><i class="icon ion-ios-telephone-outline"></i></a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>