<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title="center">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <!--
    <ion-header-bar class="bar-positive">
    <h1 class="title">Left</h1>
</ion-header-bar>
-->

        <ion-content>
            <!--
            <a id="sidemenu-profile-header" class="item item-positive item-thumbnail-left">
                <img src="img/obamahealthcare21.jpg" width="100%" alt="">
                <h2 style="color:white">user.name</h2>
                <p>otherinfo&nbsp;(ngShow on login)</p>
            </a>
-->
            <ion-list>
                <ion-item class="side-menu-item-user pdn" menu-close href="#/app/profile">
                    <h5>Rohan Gada</h5>
                    <p>gadarohan17@gmail.com</p>
                </ion-item>
                <ion-item class="side-menu-item" menu-close href="#/app/home">
                    <i class="icon ln-home"></i>Home
                </ion-item>
                <ion-item class="side-menu-item" menu-close href="#/app/yourdoctors">
                    <i class="icon ln-users2"></i>Your Doctors
                </ion-item>
                <ion-item class="side-menu-item" menu-close href="#/app/reporthistory">
                    <i class="icon ln-clipboard-check"></i>Report History
                </ion-item>
                <ion-item class="side-menu-item" menu-close href="#/app/chemisthistory">
                    <i class="icon ln-first-aid"></i>Chemist History
                </ion-item>
                <ion-item class="side-menu-item" menu-close href="#/app/aboutus">
                    <i class="icon ln-accessibility"></i>About Us
                </ion-item>
                <ion-item class="side-menu-item" menu-close href="#">
                    <i class="icon ln-exit"></i>Sign out
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>