<ion-view view-title="My Doctor">
    <ion-content>
        <div class="item item-divider">Doctor.type</div>
        <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
        <div class="item item-divider">Doctor.type</div>
        <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
        <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
        <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
        <div class="item item-divider">Doctor.type</div>
        <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
    </ion-content>
</ion-view>