<ion-view view-title="Profile" hide-nav-bar="false">
	<ion-content class="background-pagecolor">
		<div class="text-center prf-main">
			<div class="backcolor"></div>
			<div class="prf-pic">
				<img src="img/doc.jpg" align="center" class="profile-avatar" alt="">
				<h4 class="head-name">Dr. Mack Jakson</h4>
			</div>
			<div class="row tabs-call">
				<div class="col-33 text-center">
				<a href="tel:8796622179" class="color-white">
					<p>call</p>
					<i class="icon ion-ios-telephone-outline"></i>
					</a>
				</div>
				<div class="col-33 text-center">
					<p> Exp</p>
					<p> 8yrs</p>
				</div>
				<div class="col-33 text-center">
					<p>Price</p>
					<p>Rs 2000</p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<!--                <h2 class="divide">Personal</h2>-->
				<i class="icon ion-university"></i>
				<b class="divide-left">Qualification:</b> BDS, MDS - Orthodontics &amp; Dentofacial.
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<h2 class="divide">Clinic Details</h2>
				<ion-slide-box on-slide-changed="slideHasChanged($index)">
					<ion-slide><img src="img/clinic/clinic1.JPG" class="full-image" alt=""></ion-slide>
					<ion-slide><img src="img/clinic/clinic3.jpg" class="full-image" alt=""></ion-slide>
					<ion-slide><img src="img/clinic/clinic2.jpg" class="full-image" alt=""></ion-slide>
					<ion-slide><img src="img/clinic/clinic4.jpg" class="full-image" alt=""></ion-slide>
				</ion-slide-box>
			</div>
			<div class="item item-text-wrap">
				<b class="divide-left">Consulting Fees:</b> Rs 2000
			</div>
			<div class="item item-text-wrap">
				<i class="icon ion-android-time"></i>
				<b class="divide-left">Timings:</b> 10.30am
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<h2 class="divide">Contact Us</h2>
				<i class="icon ion-location"></i>
				<b>Address:</b>
				<p>Wohlig Technology, Laxmi Niwas Near Sadhana Vidhayala School Sion West Mumbai-40022
				</p>
			</div>
			<div class="item">
			<i class="icon ion-ios-telephone"></i>
				<b class="divide-left">Tel:</b> 9892222222
			</div>
		</div>
	</ion-content>
	<!--
    <ion-footer-bar align-title="left" class="bar-balanced">
        <a class="button-icon title" href="">
            <i class="icon ion-ios-telephone-outline"></i>
        </a>
    </ion-footer-bar>
-->
</ion-view>