<ion-view view-title="Profile" hide-nav-bar="true">
    <ion-content>
        <div class="text-center prf-main">
            <div class="backcolor"></div>
            <div class="prf-pic">
                <img src="img/doc.jpg" align="center" class="profile-avatar" alt="">
                <h4 class="head-name">Dr. Mack Jakson</h4>
            </div>
            <div class="row tabs-call">
                <div class="col-33 text-center">
                    <p>call</p>
                    <i class="icon ion-ios-telephone-outline"></i>
                </div>
                <div class="col-33 text-center">
                    <p> Exp</p>
                    <p> 8yrs</p>
                </div>
                <div class="col-33 text-center">
                    <p>Price</p>
                    <p>Rs 2000</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Personal</h2>
                <b>Qualification:</b> doctor.qualification
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Clinic details</h2>
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide><img src="img/clinic/clinic1.JPG" class="full-image" alt=""></ion-slide>
                    <ion-slide><img src="img/clinic/clinic3.jpg" class="full-image" alt=""></ion-slide>
                    <ion-slide><img src="img/clinic/clinic2.jpg" class="full-image" alt=""></ion-slide>
                    <ion-slide><img src="img/clinic/clinic4.jpg" class="full-image" alt=""></ion-slide>
                </ion-slide-box>
            </div>
            <div class="item item-text-wrap">
                <b>Consulting fees:</b> Rs 2000
            </div>
            <div class="item item-text-wrap">
                <b>Timings:</b> 10.30am
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Contact us</h2>
                <b>Address:</b>
                <p>Wohlig Technology,
                Laxmi Niwas 
                Near Sadhana Vidhayala School
                Sion West Mumbai-40022
                </p>
            </div>
            <div class="item">
                <b>Contact:</b> doctor.contact
            </div>
        </div>
    </ion-content>
    <!--
    <ion-footer-bar align-title="left" class="bar-balanced">
        <a class="button-icon title" href="">
            <i class="icon ion-ios-telephone-outline"></i>
        </a>
    </ion-footer-bar>
-->
</ion-view>