<ion-view view-title="Profile" hide-nav-bar="true">
    <ion-content>
        <div class="row" style="margin:auto;width:100px">
            <img src="img/avatar.jpg" align="center" class="profile-avatar" alt="">
        </div>
        <div class="list list-inset">
            <div class="item item-divider">Personal</div>
            <div class="item">
                <b>Qualification:</b> doctor.qualification
            </div>
            <div class="item item-divider">Clinic details</div>
            <div class="item">

                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide><img src="/img/clinic/clinic1.JPG" class="full-image" alt=""></ion-slide>
                    <ion-slide><img src="/img/clinic/clinic2.jpg" class="full-image" alt=""></ion-slide>
                    <ion-slide><img src="/img/clinic/clinic3.jpg" class="full-image" alt=""></ion-slide>
                    <ion-slide><img src="/img/clinic/clinic4.jpg" class="full-image" alt=""></ion-slide>
                </ion-slide-box>
            </div>
            <div class="item">
                <b>Consulting fees:</b> doctor.fee
            </div>
            <div class="item">
                <b>Timings:</b> doctor.timings
            </div>
            <div class="item item-divider">Contact us</div>
            <div class="item item-text-wrap">
                <b>Address:</b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eum, est molestias ab maiores asperiores deleniti consequatur eaque ducimus nihil. Beatae aliquid magni deleniti, quaerat veniam. Quis repellendus assumenda impedit.</p>
            </div>
            <div class="item">
                <b>Contact:</b> doctor.contact
            </div>
        </div>


    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced">
        <a class="button-icon title" href="">
            <i class="icon ion-ios-telephone-outline"></i>
        </a>
    </ion-footer-bar>
</ion-view>