<ion-view view-title="Lab name">
	<ion-content class="background-pagecolor">

		<div class="card">
			<h2 class="head-card head-color">Diagnostics</h2>
			<div class="item fz">
				Type of report
				<span class="item-note note">lab report</span>
			</div>
			<div class="item fz">
				Date
				<span class="item-note note">Report date</span>
			</div>
			<div class="item fz" ng-click="viewImage()" ng-show="true">
				View Report
				<span class="item-note">
				<button class="button button-positive report" ng-click="viewImage()" ng-show="true">
					<i class="icon ion-ios-paper-outline"></i>
					</span>
				</button>
			</div>
		</div>
		<div class="card">
			<h2 class="head-card head-color">Test</h2>
			<div class="item fz">
				Test 1
				<span class="item-note note">Rs 100/-</span>
			</div>
			<div class="item fz">
				Test 2
				<span class="item-note note">Rs 500/-</span>
			</div>
			<div class="item fz">
				Test 3
				<span class="item-note note">Rs 800/-</span>
			</div>
			<div class="item fz">
				Test 4
				<span class="item-note note">Rs 1500/-</span>
			</div>
			<div class="item fz">
				Total Cost
				<span class="item-note note"></span>
			</div>
		</div>
		<div class="card">
			<h2 class="head-card head-color">Lab Details</h2>
			<div class="item fz">
				Location
				<span class="item-note note">
					lab location
				</span>
			</div>
			<div class="item fz">
				Contact
				<span class="item-note note">lab contact</span>
			</div>
		</div>

	</ion-content>
<!--
	<ion-footer-bar align-title="left" class="bar bar-positive">
		<a class="button-icon title" href="" ng-click="viewImage()">
			<i class="icon ion-ios-paper-outline"></i>
		</a>
	</ion-footer-bar>
-->
</ion-view>