<ion-view view-title="Report History">
    <ion-content>
        <!--
Make an ng-class for Padding and item-positive
-->
        <!--    choose from either UIs-->
        <a class="row" href="#/app/reportviewer" style="padding:10px">

            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-positive item-text-wrap">
                Lab.reporttype
            </div>

        </a>
        <a class="row" href="#/app/reportviewer" style="padding:10px">
            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-text-wrap">

                Lab.reporttype


            </div>
        </a>
        <a class="row" href="#/app/reportviewer" style="padding:10px">
            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-positive item-text-wrap">

                Lab.reporttype


            </div>
        </a>
        <a class="row" href="#/app/reportviewer" style="padding:10px">
            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-positive item-text-wrap">

                Lab.reporttype


            </div>
        </a>
    </ion-content>

</ion-view>