<ion-view view-title="Report History" class="background-pagecolor">
    <ion-content>
        <!--
Make an ng-class for Padding and item-positive
-->
        <!--    choose from either UIs-->
        <a class="row" href="#/app/reportviewer" style="padding:10px">

            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-positive item-text-wrap">
                Lab.reporttype
            </div>

        </a>
        <a class="row" href="#/app/reportviewer" style="padding:10px">
            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-text-wrap">

                Lab.reporttype


            </div>
        </a>
        <a class="row" href="#/app/reportviewer" style="padding:10px">
            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-positive item-text-wrap">

                Lab.reporttype


            </div>
        </a>
        <a class="row" href="#/app/reportviewer" style="padding:10px">
            <div class="item item-divider item-text-wrap">
                <b>Lab.name</b>
                <div class="item-note">
                    22-08-2015
                </div>
            </div>
            <div class="item item-positive item-text-wrap">

                Lab.reporttype


            </div>
        </a>
   <div class="card">
       <a class="item">
          <div class="col-left">
           <h1>Lab.name</h1>
           <div class="item-text-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptate ipsam non nisi officiis, assumenda, tenetur autem veritatis a accusantium quisquam quae, quaerat voluptates. Necessitatibus culpa maxime consequatur itaque, ipsum.</div>
           </div>
           <div class="col-right">
           <h2>1-1-1970</h2>
           <h5>Rs. XXXX</h5>
           </div>
           
       </a>
   </div>
    </ion-content>

</ion-view>