<ion-view view-title="Signup">
    <ion-nav-bar class="bar bar-clear">
        
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="text-center signup-cover">
            <img src="/img/doctors_cropped.png" alt="">
        </div>
        <div class="list">
            <label class="item item-form-input item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-form-input item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-form-input item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <label class="item item-form-input item-input item-floating-label">
                <span class="input-label">Birthday</span>
                <input type="text" placeholder="Birthday">
            </label>

            <button class="button button-block button-positive create-button">
                Create
            </button>
        </div>

    </ion-content>
</ion-view>