<ion-view view-title="Your Doctors" class="background-pagecolor">
    <ion-content>
        <div class="card">
            <div class="item item-divider location-item-divider item-positive">
                <i class="icon ln-user"></i> doctor.type
            </div>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
        </div>
        <div class="card">
            <div class="item item-divider location-item-divider item-positive">
                <i class="icon ln-user"></i> doctor.type
            </div>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a><a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
        </div>
        <div class="card">
            <div class="item item-divider location-item-divider item-positive">
                <i class="icon ln-user"></i> doctor.type
            </div>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
        </div>
    </ion-content>
</ion-view>