<ion-view view-title="Your Doctors">
    <ion-content>
        <!--
        <div class="list list-inset">
            <div class="item item-divider">Doctor.type</div>
            <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
            <div class="item item-divider">Doctor.type</div>
            <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
            <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
            <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
            <div class="item item-divider">Doctor.type</div>
            <a href="#/app/profile" class="item">Doctor.name
            <div class="item-icon-right">
                <i ng-click="unfav=true" ng-class="{'ion-ios-star':!unfav,'ion-ios-star-outline':unfav}" class="icon"></i></div>
        </a>
        </div>
-->
        <div class="card">
            <div class="item item-divider location-item-divider item-positive">
                <i class="icon ln-user"></i> doctor.type
            </div>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
        </div>
        <div class="card">
            <div class="item item-divider location-item-divider item-positive">
                <i class="icon ln-user"></i> doctor.type
            </div>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a><a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
        </div>
        <div class="card">
            <div class="item item-divider location-item-divider item-positive">
                <i class="icon ln-user"></i> doctor.type
            </div>
            <a href="#/app/profile" class="item item-text-wrap">
                doctor.name
            </a>
        </div>
    </ion-content>
</ion-view>