/* Empty. Add your own CSS if you like */


/* Empty. Add your own CSS if you like */


/*Hide Nav bar*/

.make-border-trasparent {
	background-color: rgba(0, 0, 0, 0.0) !imporant;
	border: none;
}


/*Hide Nav bar end*/

. #sidemenu-profile-header {
	color: white;
}

a {
	text-decoration: none;
}

.center {
	margin-top: 15em;
}

.imgbackground {
	background-image: url('/img/background.png');
}

textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none !important;
	border: 1px solid black;
}


/*ImageViewer modal*/

.transparent {
	background: transparent !important;
}

.image-modal {
	width: 100% !important;
	height: 100%;
	top: 0 !important;
	left: 0 !important;
}

.fullscreen-image {
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
}

@media (max-width: 679px) {
	.active .modal-backdrop-bg {
		opacity: .5;
	}
	.modal-backdrop-bg {
		-webkit-transition: opacity 300ms ease-in-out;
		transition: opacity 300ms ease-in-out;
		background-color: #000;
		opacity: 0;
	}
}


/*ImageViewer modal end*/


/*Zooming Image inside pane*/

.zoom-pane {
	width: 100%;
	height: 100%;
}

.zoom-pane .scroll {
	min-height: 100%;
	/* Vertical align */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.zoom-pane img {
	width: 100%;
	vertical-align: middle;
}


/*profile page*/

h2.divide {
	margin-bottom: 10px!important;
}

.divide-left {
	margin-right: 10px!important;
}

.bar.bar-positive .title {
	text-transform: capitalize;
}

.side-menu-item i {
	padding-right: 13px !important;
}

.pdn {
	padding-bottom: 0 !important;
}

.button.button.button-block.button-positive.create-button {
	min-height: 38px;
	margin: 15px auto;
	line-height: 38px;
}

.signup-cover.pdn {
	padding-bottom: 0 !important;
}

.bar.bar-clear .title {
	background-color: #fff;
}

.list > .side-menu-item-user {
	padding-bottom: 0 !important;
}


/*profile lab*/

.back {
	min-height: 200px;
	position: relative;
	background: url("../img/hospitalpro.jpg") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.name {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.name > .head-name {
	color: #fff;
	font-weight: 500;
	text-transform: capitalize;
}

.icon-size {
	font-size: 18px;
}

span.head-item {
	margin-left: 5px;
	font-size: 15px;
	font-weight: 500;
}

.map {
	width: 100%;
	height: 200px;
}

.map > iframe {
	width: 100%;
	min-height: 100%;
}

.head-item + .slider {
	margin-top: 10px;
}


/*report viewer*/

.item-note > .report {
	min-height: 25px !important;
	min-width: 25px !important;
	padding: 0 7px;
	line-height: 25px !important;
}

.item-note > .report > i::before {
	font-size: 18px !important;
	line-height: 25px !important;
}

.card > .head-card {
	margin-top: 8px;
	margin-left: 15px;
	font-size: 15px;
}

.card .fz {
	font-size: 14px !important;
}

.card > .item > .note {
	font-size: 12px;
}

.font {
	margin-top: 10px !important;
	font-size: 12px !important;
}

li.head-item {
	font-size: 14px !important;
}

span.cont-item {
	font-size: 12px !important;
}

.nopdn {
	padding: 0 !important;
}